*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/.gradle

local.properties
.idea/
*.apk
*.ap_
*.dex
*.class

bin/
gen/
proguard/
/app/src/main/assets/self-signed.ccc.crt